body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
  /*background: url("../img/gllacy-index.jpg") no-repeat center top;*/
}

img {
  max-width: 100%;
  height: auto;
}


.basket-form {
  display: none;
}

a {
  text-decoration: none;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

/*
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
*/

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inner-page {
  background-color: #849d8f;
}

.button {
  padding-left: 20px;
  padding-top: 11px;
  padding-right: 20px;
  padding-bottom: 11px;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-weight: 700;
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74b36, #f26843);
  border-radius: 30px;
  box-shadow: inset 0 -2px 0 0 #ac1000;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #f38367;
  background-image: linear-gradient(to top, #ec6f5e, #f58669);
}

.button:active {
  background-color: #e05f3d;
  background-image: linear-gradient(to top, #e1613e, #d84732);
  box-shadow: inset 0 2px 0 0 #ac1000;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: transparent;
}

.site-navigation a {
  border-bottom: 1px solid #a6bcb0;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.site-navigation,
.user-navigation,
.pagination-list {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation>li>a:hover,
.site-navigation>li>a:focus {
  width: 87px;
  height: 32px;
  padding-top: 7px;
  padding-right: 13px;
  padding-bottom: 9px;
  padding-left: 13px;

  color: #000;

  border-radius: 30px;
  background-color: #fff;

  text-decoration: none;
}

.site-navigation>li>a:active {
  box-shadow: inset 0 2px 1px 0 #696969;
  background-color: #ededed;

  text-decoration: none;
}

.user-button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.2);
}

.search {
  width: 32px;
  height: 32px;
  padding: 7px;

  border-radius: 50%;
}

.login {
  width: 93px;
  height: 32px;
  padding: 5px 15px;

  border-radius: 30px;
}

.basket {
  width: 100px;
  height: 32px;
  padding: 5px 15px;

  border-radius: 30px;
}

.inner-page .basket {
  min-width: 119px;
  color: #000000;
  background-color: #f7f6f3;
}

.user-button:hover,
.user-button:focus {
  color: #000;
  background-color: #f8f7f5;
}

.user-button:not(.basket-red):hover path,
.user-button:not(.basket-red):focus path,
.user-button:not(.basket-red):hover g,
.user-button:not(.basket-red):focus g {
  fill: #000000;
}

.inner-page .page-title {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 25px;
  margin-left: 27px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.stocks {
  display: flex;
  margin: 0px 27px;
  margin-top: -30px;

}

.stocks-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 560px;
  margin: 0;
  margin-right: 26px;
  z-index: 1;
  padding-right: 27px;
  padding-bottom: 20px;
  padding-left: 18px;

  background-repeat: no-repeat;
  border-radius: 15px;
}

.stocks-item:nth-of-type(2n) {
  margin: 0;
}

.stocks-item-title {
  margin: 0;

  font-size: 35px;
  line-height: 62px;
}

.stocks-item p {
  margin: 0;
  margin-top: 8px;

  font-size: 18px;
  line-height: 22px;
}

.stocks-item.raspberry {
  background-image: url("../img/raspberries-bg.jpg");
  background-color: #d2103d;

}


.stocks-item .button {
  align-self: flex-end;
  margin-top: 40px;
}


.stocks-item.choco {

  background-image: url("../img/chocolate-bg.jpg");
  background-color: #7a574f;
}

.features {
  width: 1146px;
  margin: 0px 27px;
  margin-top: 30px;
  padding: 28px;
  padding-left: 18px;

  color: #323232;
  background-color: #ebdec8;
  background-image: url("../img/bg-features.jpg");
  border-radius: 20px;
}

.features p {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.features-list li {
  width: 482px;
  margin: 0;
  margin-top: 22px;

  background-position: left top;
  background-repeat: no-repeat;
}

.feature-item {
  list-style: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

/*
.feature-item:first-child {
  background-image: url("../img/ice-cream.svg");
}

.feature-item:nth-child(2) {
  background-image: url("../img/eco.svg");
}

.feature-item:nth-child(3) {
  background-image: url("../img/cow.svg");
}

.feature-item:last-child {
  background-image: url("../img/thermometer.svg");
}
*/

.news {
  width: 560px;
  margin-right: 26px;
  padding-top: 24px;
  padding-left: 19px;
  padding-bottom: 69px;
  padding-right: 260px;


  background-color: #fff;
  background-image: url("../img/bg-strawberry.jpg");
  border-radius: 20px;
}

.news h2 {
  margin: 0;
  padding: 0;

  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news a {
  display: block;
  width: 281px;
  margin-top: 12px;
  padding: 0;

  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.news b {
  border-bottom: 2px solid #323232;
}

.news a:hover b,
.news a:focus b,
.news a:active b,
.company-address p a:hover,
.company-address p a:focus,
.company-address p a:active {
  color: #e84d37;
  border-color: #ffbc9e;
}

.subscription {
  width: 560px;
  min-height: 220px;
  padding-top: 37px;
  padding-right: 25px;
  padding-bottom: 37px;
  padding-left: 25px;

  color: #656464;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  background-color: #f8f7f4;
  background-image:
    url("../img//bg-email.png"),
    url("../img//bg-mail.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.subscription p {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.contacts-info {
  position: relative;
}

.company-address {
  position: absolute;
  right: 27px;
  top: 63px;
  width: 302px;
  height: 305px;
  margin: 0;
  padding-top: 30px;
  padding-right: 24px;
  padding-bottom: 28px;
  padding-left: 22px;

  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  background-color: #fdfefe;
  border-radius: 15px;
}

.company-address p {
  margin: 0;

}

.company-address b {
  display: block;
  padding-top: 5px;
  padding-bottom: 19px;

  font-size: 18px;
  line-height: 24px;
}

.company-address a:not(.button) {
  display: block;
  padding: 7px 0px;

  color: #000;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.company-address .button {
  display: inline-block;
  margin-top: 23px;
  padding-right: 28px;
  padding-left: 28px;

}

.main-footer  {
  margin-top: 30px;
  margin-bottom: 30px;

  color: #fff;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.main-footer .container {
  display: flex;
  align-items: flex-end;
}

.main-footer a {
  color: #fff;
}

.footer-information a:hover,
.footer-information a:focus,
.footer-information a:active,
.footer-copyright a:last-child:hover,
.footer-copyright a:last-child:focus,
.footer-copyright a:last-child:active,
.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active,
.contacts a:hover,
.contacts a:focus,
.contacts a:active,
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.304);
  text-decoration-color: rgba(255, 188, 158, 0.304);
}

.main-footer ul {
  list-style: none;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 27px;
  padding: 0;
  width: 186px;
}

.social-button {
  display: flex;
  box-sizing: content-box;
  width: 32px;
  height: 32px;

  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.social-button:hover path,
.social-button:focus path {
  fill: #fff;
}

.social-button:active path {
  fill: #e9e9e9;
}

.social-button:hover,
.social-button:focus,
 .social-button:active {
  border-color: rgba(255, 255, 255, 0.7);
}

.footer-information {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 309px;
  height: 36px;
  margin: 0 auto;
  padding: 0;
}

.footer-information li:first-child a::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 13px;
  top: 3px;
  left: -23px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.footer-information li {
  margin-right: 30px;
}

.footer-information a {
  line-height: 18px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.footer-information li:first-child a {
  font-weight: 700;
}

.footer-copyright {
  width: 195px;
  margin-right: 27px;

  font-size: 12px;
  line-height: 18px;
}

.footer-copyright p {
  margin: 0;
}

.footer-copyright a:last-child {
  line-height: 18px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.form-subscription input {
  width: 355px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;

  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}


.slider {
  display: flex;
  align-items: center;
  margin: 0 27px;

}

.slider-button {
  margin: 0;
  padding: 0;
  align-self: flex-end;
  padding-bottom: 70px;

  list-style: none;
}

.slider-button li {
  display: inline-block;
}

.slider-button button {
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url("../img/slider-off.svg");
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
}

.slider-button button:hover,
.slider-button button:focus {
  box-shadow: inset 0 0 0 1000px rgba(248, 247, 244, 0.4);
}

.slider-button button:active {
  box-shadow: inset 0 0 0 1000px #fff;
}

.slider-button .active {
  box-shadow: inset 0 0 0 1000px #fff;
}

.slider-picture {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  position: relative;

  width: 1045px;
  min-height: 600px;

  background-position: top;
}

.slider-item  p {
  margin: 0;
  position: absolute;
  bottom: 170px;
  left: 50px;

  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.slider-item a {
  position: absolute;
  bottom: 70px;
  left: 390px;
  padding: 12px 40px;

  font-size: 32px;
  line-height: 45px;
  border-radius: 40px;
}

.slider-item.сreme-brulee {
  background-image:
    url("../img/ice-cream-1.png"),
    radial-gradient(#c9efda, #adcebc, #96b2a2, #869f91, #859e90, #849d8f);
  background-repeat: no-repeat;
}

.slider-item.lemon-sorbet {
  display: none;

  background-image:
    url("../img/ice-cream-2.png"),
    radial-gradient(#cde1f2, #b2c3d4, #a0b0c0, #9fafbf, #919faf, #8996a6);
  background-repeat: no-repeat;
}

.slider-item.strawberry-sorbet {
  display: none;

  background-image:
    url("../img/ice-cream-3.png"),
    radial-gradient(#f0dbd2, #ccb9b1, #bfaba3, #c0ada5, #a7948d, #9d8b84);
  background-repeat: no-repeat;
}

.contacts {
  width: 170px;
  margin-right: 27px;
  margin-left: auto;
}

.contacts p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
}

.contacts a {
  color: inherit;
  font-size: 22px;
  line-height: 24px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-left: 27px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-left: 5px;
  margin-right: 15px;
}

.breadcrumbs li:not(:last-of-type)::after,
.breadcrumbs li:not(:first-of-type)::before {
  position: absolute;
  top: 6px;
  content: "";
  width: 7px;
  height: 7px;

  box-shadow: 1px 1px 0 0px white;
  transform:rotate(-45deg) scale(0.4);
}

.breadcrumbs li:not(:last-of-type)::after {
  right: -11px;
}

.breadcrumbs li:not(:first-of-type)::before {
  left: -14px;
}

.breadcrumbs a {
  color: inherit;
  list-style: none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  margin-left: 27px;
}

.filters-form p {
  margin: 0;
}

.filters-form legend {
  padding: 0;
}

.filters-form fieldset {
  margin: 0;
  padding: 0;
}

.filters-form > *,
.filters-form > fieldset {
  margin-right: 15px;
}

.filters-form,
.filters-form input {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters-form select {
  padding-top: 12px;
  padding-right: 50px;
  padding-bottom: 8px;
  padding-left: 15px;


  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.filter-option.fat {
  padding: 7px 15px;
}

.filter-option.fat label:last-of-type,
 .filter-option.topping label:last-of-type{
  padding-right: 0;
}

.filter-option.topping {
  padding: 7px 15px;
}

.filters-form fieldset label {
  font-size: 16px;
  line-height: 18px;
}

.filter-option,
.slider-range,
.filters-form select {
  color: #fff;
  background-color: #aabcb2;
  border-radius: 30px;
  border: 0;
}

.filters-form input {
  color: #fff;
  background-color: transparent;
  border: 0;
}

.filters-form select:hover,
.filters-form select:focus {
  color: #000;
  background-color: #fff;
}

.filter-input-radio {
  display: none;
}

.filter-input-radio + label {
  background: url("../img/radio-off.svg") no-repeat scroll 0 0;
  background-size: 22px;
  cursor: pointer;

  padding-left: 33px;
  padding-bottom: 8px;
  padding-right: 18px;

}

.filter-input-radio:checked + label {
  background: url("../img/radio-on.svg") no-repeat scroll 0 0;
  background-size: 22px;
}

.filter-input-checkbox {
  display: none;
}

.filter-input-checkbox + label {
  background: url("../img/checkbox-off.svg") no-repeat scroll 0 0;
  background-size: 20px;
  cursor: pointer;

  padding-left: 31px;
  padding-bottom: 35px;
  padding-right: 20px;

}

.filter-input-checkbox:checked + label {
  background: url("../img/checkbox-on.svg") no-repeat scroll 0 0;
  background-size: 20px;
}

.slider-range {
  width: 217px;
  padding: 8px 21px;

}

.slider-range button {
  width: 20px;
  height: 22px;
  background-color: transparent;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
}

.catalog {
  margin-right: 27px;
  margin-left: 27px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;
  margin-top: 30px;
}

.catalog-item .icon-hit {
  position: absolute;
  display: block;
  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-list .catalog-item {
  box-sizing: content-box;
  width: 267px;
  margin-right: 26px;
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: -6px;
  left: -13px;
  width: 293px;
  height: 405px;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 10px;
  opacity: 0;
}

.view .fast-view {
  margin-right: 30px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 30px;
  padding: 10px 15px;
  border-radius: 20px;
}

.catalog-list>.catalog-item:hover .view {
  opacity: 1;
  z-index: 1000;
}

.catalog-list .catalog-item:nth-child(4n) {
  margin-right: 0;
}

/*
При появлении быстрого просмотра не работает эффект ссылки
 */

.catalog a {
  color: #fff;
}

.catalog-item-image {
  margin: 0;
}

.catalog-item-image img {
  border-radius: 50%;
}

.catalog-item-price {
  position: absolute;
  top: 215px;
  margin: 0;
}

.catalog-item-price b {
  font-size: 45px;
  line-height: 1;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price span {
  font-size: 30px;
}

.catalog-item a {
  font-size: 16px;
  line-height: 33px;
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,0.2);
}

.catalog-item h3 {
  margin: 0;

  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.pagination-list {
  display: flex;
  width: 190px;
  justify-content: space-between;
  margin: 0;
  margin-top: 90px;
  margin-right: 27px;
  margin-left: auto;
  padding: 0;
}

.pagination-list li {
  min-width: 27px;

}

.pagination-list a {
  color: #fff;
  font-weight: 500;
  padding: 8px 10px;
}

.pagination-list li:not(.prev):not(.next) a:hover,
.pagination-list li:not(.prev):not(.next) a:focus {
  color: #fff;
  background-color: rgba(255,255,255,0.2);
  border-radius: 50%;
}

.pagination-item-current span,
.pagination-list a:active {
  padding: 7px 10px;

  color: #000;
  background-color: #fff;
  border-radius: 50%;
}

.pagination-item.prev svg {
  transform: rotate(180deg);
}


.button-apply {
  padding: 7px 28px;
  padding-right: 26px;
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: #a6b7ae;
}

.-apply:hover,
.button-apply:focus {
  color: #000;
  background-color: #fbfcfb;
}

.button-apply:active {
  color: #000;
  background-color: #eaeaea;
  box-shadow:
    inset 0 1px 0 0 #6a6b6a,
    inset 0 2px 0 0 #8a8b8a,
    inset 0 3px 0 0 #cacbca;
    border: 0;
}

.active-link a {
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;

  color: #fff;
  border-radius: 30px;
  background-color: #d07058;
  border-bottom: none;
}

/* =======РАСКЛАДКА======= */

.main-navigation {
  display: flex;
  width: 100%;
  margin-bottom: 18px;
}

.main-header-logo {
  width: 154px;
  margin-top: 9px;
  margin-bottom: 0;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 24px;
  padding: 0;
}

.site-navigation li {
  margin-right: 27px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-right: 27px;
  margin-top: 23px;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
}

.user-navigation li {
  margin-left: 10px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.index-columns {
  display: flex;
  margin: 39px 27px;
}

.inner-page .main-footer .container {
  padding-top: 18px;
  border-top: 1px solid #a9bbb1;
}

/*-------------- Выпадающее меню --------------*/
.modul-catalog:hover .main-catalog {
  display: block;
}

.modul-catalog {
  position: relative;
}

.modul-catalog .main-catalog {
  display: none;

  padding: 0;
  position: absolute;
  top: 30px;
  left: -21px;
  width: 143px;
  height: 172px;
  z-index: 2;
  list-style: none;

  background-color: #f8f7f4;
  border-radius: 5px;

}

.main-catalog li {
  margin: 0;
}

.main-catalog li:first-of-type a {
  font-weight: 700;
}

.main-catalog li:first-of-type a {
  padding-left: 12px;
  margin-left: 7px;
  margin-right: 9px;

  border-bottom: 1px solid #d1d0ce;
}

.main-catalog a {
  display: block;

  padding: 8px 19px;
  color: #000;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  border: none;
}

.main-catalog li:not(:first-of-type) a:hover,
.main-catalog li:not(:first-of-type) a:focus  {
  background-color: #fbded8;
}

/*-------------------------------------------------*/

/* Выпадашка на поиск */

.user-search:hover .field-search {
  display: block;
}

.user-navigation .user-search {
  position: relative;
}

.user-search .field-search {
  display: none;
  position: absolute;
  top: 35px;
  right: 0px;
  width: 342px;
  height: 85px;

  background-color: #f8f7f4;
  border-radius: 5px;
  z-index: 3;
}

.field-search .form-search {
  margin-top: 20px;
  margin-left: 17px;
}

.form-search input {
  width: 311px;
  height: 44px;
  padding: 14px;

  color: #d3d3d2;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

/*-------------------------------------*/

/* Выпадашка на вход */

.user-authorization:hover .private-office {
  display: block;
}

.user-navigation .user-authorization {
  position: relative;
}

.user-authorization .private-office {
  display: none;
  position: absolute;
  top: 35px;
  left: -185px;
  width: 278px;
  height: 216px;

  background-color: #f8f7f4;
  border-radius: 5px;

  z-index: 4;
}

.private-office .login-form {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.login-form p {
  margin: 0
}

.login-form * {
  margin-top: 21px;
}

.login-form input {
  width: 240px;
  height: 44px;
  padding: 13px;
  color: #d3d3d2;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login-form a {
  display: block;
  margin: 0;
  font-size: 13px;
  line-height: 20px;
  color: #323232;
  font-weight: 400;

  border-bottom: 1px solid #adacaa;
}

.login-form .button {
  align-self: flex-start;
  margin: 0;
  margin-top: -41px;
  margin-left: 19px;

  width: 100px;
  height: 44px;

  border-radius: 20px;
}

.login-form .help-link {
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 17px;

}

/*-------------------*/

/* Попап обратная связь */

.feedback {
  display: none;

  position: fixed;
  top: 338px;
  left: 50%;
  margin-left: -249px;
  padding-top: 20px;
  padding-left: 24px;
  width: 478px;
  height: 442px;
  background-color: #f8f7f4;
  border-radius: 10px;
  z-index: 4;
}

.feedback p {
  margin: 0;
}

.feedback .feedback-title {
  padding-bottom: 20px;
  color: #000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback .modal-feedback {
  margin-right: 25px;
}

.feedback .modal-feedback *:not(p):not(.button) {
  padding: 11px 15px;

  color: #d3d3d2;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.feedback .modal-feedback input {
  min-width: 267px;
}

.feedback .modal-feedback textarea {
  width: 428px;
  height: 155px;
}

.feedback .modal-feedback p {
  margin-bottom: 20px;
}

.feedback .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
}

.feedback .modal-close::after,
.feedback .modal-close::before {
  position: absolute;
  top: 16px;
  right: 17px;
  content: "";
  width: 2px;
  height: 16px;
  background-color: #000;

  cursor: pointer;
}

.feedback .modal-close::after {
  transform: rotate(45deg);
}

.feedback .modal-close::before {
  transform: rotate(-45deg);
}

.modal-feedback .button {
  float: right;
}


/*-------------------*/
