body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

.user-navigation div,
.feedback,
.main-catalog,
.basket-form {
  display: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  visibility: hidden;
}

.inner-page {
  background-color: #849d8f;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-weight: 700;
  background-color: #e84d37;
  background-image: linear-gradient(to top, #e74b36, #f26843);
  border-radius: 20px;
  box-shadow: inset 0 -2px 0 0 #ac1000;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #f38367;
  background-image: linear-gradient(to top, #ec6f5e, #f58669);
}

.button:active {
  background-color: #e05f3d;
  background-image: linear-gradient(to top, #e1613e, #d84732);
  box-shadow: inset 0 2px 0 0 #ac1000;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: transparent;
}

.site-navigation a {
  border-bottom: 1px solid #a6bcb0;

}

.user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.site-navigation,
.user-navigation,
.pagination-list {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation>li>a:hover,
.site-navigation>li>a:focus {
  width: 87px;
  height: 32px;

  color: #000;

  border-radius: 30px;
  background-color: #fff;

  text-decoration: none;
}

.site-navigation>li>a:active {
  box-shadow: inset 0 2px 1px 0 #696969;
  background-color: #ededed;

  text-decoration: none;
}

.search {
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
}

.login {
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
}

.basket {
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
}

.inner-page .basket {
  background-image: url("../img/basket-red.svg");
}

.search,
.login,
.basket {
  background-color: rgba(255, 255, 255, 0.2);
}

.inner-page .search,
.inner-page .login {
  background-color: #b0c0b7;
}

.inner-page .basket {
  color: #000;
  background-color: #fff;
}

.search:hover,
.login:hover,
.basket:hover {
  color: #000;
  background-color: #fff;
}

.container h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.stocks-item h3 {
  font-size: 35px;
  line-height: 62px;
}

.stocks-item p {
  font-size: 18px;
  line-height: 34px;
}

.stocks-item:first-of-type {
  width: 560px;
  height: 229px;

  background-image: url("../img/raspberries-bg.jpg");
  background-color: #d2103d;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.stocks-item:last-of-type {
  width: 560px;
  height: 229px;

  background-image: url("../img/chocolate-bg.jpg");
  background-color: #7a574f;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.features {
  width: 1146px;
  color: #323232;
  background-color: #ebdec8;
  background-image: url("../img/bg-features.jpg");
  border-radius: 20px;
}

.features p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list li {
  white-space: pre-wrap;
  background-position: left top;
  background-repeat: no-repeat;
}

.feature-item {
  list-style: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.feature-item:first-child {
  background-image: url("../img/ice-cream.svg");
}

.feature-item:nth-child(2) {
  background-image: url("../img/eco.svg");
}

.feature-item:nth-child(3) {
  background-image: url("../img/cow.svg");
}

.feature-item:last-child {
  background-image: url("../img/thermometer.svg");
}

.news {
  width: 560px;
  height: 220px;
  background-color: #fff;
  background-image: url("../img/bg-strawberry.jpg");
  border-radius: 20px;
}

.news h2 {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  border-bottom: 2px solid #b2b2b2;
}

.news a:hover,
.news a:focus,
.news a:active,
.company-address p a:hover,
.company-address p a:focus,
.company-address p a:active {
  color: #e84d37;
  border-color: #ffbc9e;
}

.subscription {
  width: 560px;
  height: 220px;

  color: #656464;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  background-color: #f8f7f4;
  background-image: url("../img//bg-mail.png");
  border-radius: 20px;
}

.company-address {
  width: 302px;
  height: 305px;

  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  background-color: #fdfefe;
  border-radius: 15px;
}

.company-address b {
  line-height: 24px;
}

.company-address a:not(.button) {
  color: #000;
  line-height: 24px;
  line-height: 20px;
  font-weight: 700;
}

.main-footer  {
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.main-footer a {
  color: #fff;
}

.footer-information a:hover,
.footer-information a:focus,
.footer-information a:active,
.footer-copyright a:last-child:hover,
.footer-copyright a:last-child:focus,
.footer-copyright a:last-child:active,
.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active,
.contacts a:hover,
.contacts a:focus,
.contacts a:active,
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.304);
  text-decoration-color: rgba(255, 188, 158, 0.304);
}

.main-footer ul {
  list-style: none;
}

.footer-social li {
  padding: 10px;
  background-repeat: no-repeat;
}

.footer-social li:first-child {
  background-image: url("../img/twitter.svg");
}

.footer-social li:nth-child(2){
  background-image: url("../img/instagram.svg");
}

.footer-social li:nth-child(3){
  background-image: url("../img/fb.svg");
}

.footer-social li:nth-child(4){
  background-image: url("../img/vk.svg");
}

.footer-information a {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.footer-information li:first-child a {
  font-weight: 700;
}

.footer-copyright {
  font-size: 12px;
}

.footer-copyright a:last-child {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.form-subscription input {
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}


.slider-button button {
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url("../img/slider-off.svg");
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
}

.slider-button button:hover,
.slider-button button:focus {
  box-shadow: inset 0 0 0 1000px rgba(248, 247, 244, 0.4);
}

.slider-button button:active {
  box-shadow: inset 0 0 0 1000px #fff;
}

.slider-button li:first-child button {
  box-shadow: inset 0 0 0 1000px #fff;
}

.slider ul {
  list-style: none;
}

.slider p {
  font-size: 60px;
  line-height: 60px;
}

.slider-picture li:first-child {
  width: 1045px;
  height: 600px;
  background-image: url("../img/ice-cream-1.png");
  background-repeat: no-repeat;
}

.slider-picture li:nth-child(2) {
  width: 1045px;
  height: 600px;
  background-image: url("../img/ice-cream-2.png");
  background-repeat: no-repeat;
}

.slider-picture li:last-child {
  width: 1045px;
  height: 600px;
  background-image: url("../img/ice-cream-3.png");
  background-repeat: no-repeat;
}

.contacts p {
  font-size: 14px;
  line-height: 16px;
}

.contacts a {
  color: inherit;
  font-size: 22px;
  line-height: 24px;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  list-style: none;
}

.breadcrumbs a {
  color: inherit;
  list-style: none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.filters-form,
.filters-form input {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters-form select {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.filters-form fieldset label {
  font-size: 16px;
  line-height: 18px;
}

.filter-option,
.slider-range,
.filters-form select {
  color: #fff;
  background-color: #aabcb2;
  border-radius: 20px;
  border: 0;
}

.filters-form input {
  color: #fff;
  background-color: transparent;
  border: 0;
}

.filters-form select:hover,
.filters-form select:focus {
  color: #000;
  background-color: #fff;
}

.filter-input-radio {
        display: none;
}

.filter-input-radio + label {
        background: url("../img/radio-off.svg") no-repeat scroll 0 0;
        cursor: pointer;
        padding-left: 25px;
        padding-bottom: 35px;
}

.filter-input-radio:checked + label {
        background: url("../img/radio-on.svg") no-repeat scroll 0 0;
}

.filter-input-checkbox {
        display: none;
}

.filter-input-checkbox + label {
        background: url("../img/checkbox-off.svg") no-repeat scroll 0 0;
        cursor: pointer;
        padding-left: 25px;
        padding-bottom: 35px;
}

.filter-input-checkbox:checked + label {
        background: url("../img/checkbox-on.svg") no-repeat scroll 0 0;
}

.slider-range button {
  width: 20px;
  height: 22px;
  background-color: transparent;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
}

.catalog a {
  color: #fff;
}

.catalog ul {
  list-style: none;
}

.inner-page .catalog-item:hover,
.inner-page .catalog-item:focus {
  background-color: rgba(155,175,163, 0.5);
  box-shadow: -1px 1px 5px 0 #7f978a;
}

.catalog-item-image img {
  border-radius: 50%;
}

.catalog-item-price b {
  font-size: 45px;
  line-height: 1;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price span {
  font-size: 30px;
}

.catalog-item a {
  font-size: 16px;
  line-height: 33px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,0.2);
}

.pagination-list a {
  color: #fff;
  font-weight: 500;
}

.pagination-list a:hover,
.pagination-list a:focus {
  color: #fff;
  background-color: #9db1a5;
  border-radius: 50%;

}

.pagination-item-current span,
.pagination-list a:active {
  color: #000;
  background-color: #fff;
  border-radius: 50%;
}

/*
не могу понять, как перевернуть фоновую картинку на 180градусов
и задать другой цвет svg картинке

.pagination-list li:first-child {
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}
*/

.pagination-list li:last-child {
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.button-apply {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  background-color: #a6b7ae;
}

.-apply:hover,
.button-apply:focus {
  color: #000;
  background-color: #fbfcfb;
}

.button-apply:active {
  color: #000;
  background-color: #eaeaea;
  box-shadow:
    inset 0 1px 0 0 #6a6b6a,
    inset 0 2px 0 0 #8a8b8a,
    inset 0 3px 0 0 #cacbca;
    border: 0;
}


.catalog-nav a {
  color: #fff;
  border-radius: 30px;
  background-color: #d07058;
}
